.App {
  width: 90vw;
  height: 80vh;
  border: 1px solid black;
}
/* this test-layout class for test it will be terminated */

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.Header {
  display: flex;
  justify-content: space-between;
  flex-basis: 50px;
  background-color: rgb(224, 215, 202);
}

.Calendar {
  flex-grow: 1;
  background-color: rgb(127, 184, 127);
}

.days-header {
  width: 100%;
  display: flex;
  height: 50px;
  background-color: green;
}

.day-col {
  width: 14.2857143%;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(107, 107, 108);
  border: 0.1px solid white;
  font-size: 1.5rem;
  line-height: 50px;
}

.Week {
  width: 100%;
  display: flex;
}

.date {
  text-align: right;
  box-sizing: border-box;
  position: relative;
  flex-basis: 14.2857143%;
  border: 0.1px solid white;
  border-top: none;
  background-color: rgb(225, 224, 224);
  height: 50px;
}

.notThisMonth {
  background-color: white;
}

.selected {
  background-color: aliceblue;
}

.FirstScreen {
  width: 100%;
  height: 100%;
}

/* 스케쥴 */
.Schedule {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.Radio {
  display: flex;
}

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: wheat;
  z-index: 1;
  width: 70%;
  height: 70%;
}
